Basic imports...

In [66]:
# Importing Libraries
# =====================
import numpy as np  # Import NumPy library and assign alias 'np'
import pandas as pd  # Import Pandas library and assign alias 'pd'

Series declarations

s = pd.Series(data, index, name)

In [2]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [3]:
s

a   -1.026509
b   -0.967079
c    1.386397
d    1.049764
e   -1.422263
dtype: float64

In [4]:
s = pd.Series(np.random.randn(5))

In [5]:
s

0   -0.236663
1   -0.867497
2   -1.554315
3   -1.048960
4   -0.398525
dtype: float64

In [6]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
s = pd.Series(d)

In [7]:
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
s = pd.Series(d, index=["b", "c", "d", "a"])

In [9]:
s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [10]:
s = pd.Series(5.0, index=["a", "b", "c", "d", "e"])

In [11]:
s

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [12]:
s["a"]

np.float64(5.0)

In [13]:
s["e"] = 12.0

In [14]:
s

a     5.0
b     5.0
c     5.0
d     5.0
e    12.0
dtype: float64

In [15]:
"e" in s

True

In [16]:
"f" in s

False

In [17]:
s.get("f")

DataFrame

df = pd.DataFrame(data, index, columns)

In [18]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [19]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [20]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-03  0.780970  0.818403 -0.500051  0.161445
2013-01-04  0.775657  1.224257 -0.254243  0.259410
2013-01-05  0.869252 -0.654880 -0.891670  0.064009
2013-01-06  0.642094  0.258994  1.088695 -1.880042

In [22]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [24]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
df.head()

                   A         B         C         D
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-03  0.780970  0.818403 -0.500051  0.161445
2013-01-04  0.775657  1.224257 -0.254243  0.259410
2013-01-05  0.869252 -0.654880 -0.891670  0.064009

In [26]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.775657  1.224257 -0.254243  0.259410
2013-01-05  0.869252 -0.654880 -0.891670  0.064009
2013-01-06  0.642094  0.258994  1.088695 -1.880042

In [27]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.to_numpy()

array([[ 1.36786903, -2.19799675, -0.02084463, -0.73946226],
       [-0.33442173, -1.16406541, -1.73438037, -0.28781873],
       [ 0.78097025,  0.81840341, -0.50005131,  0.16144513],
       [ 0.77565723,  1.22425695, -0.25424282,  0.25940984],
       [ 0.86925159, -0.65488025, -0.89167035,  0.06400869],
       [ 0.64209352,  0.2589936 ,  1.08869502, -1.88004203]])

In [30]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [31]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.683570 -0.285881 -0.385416 -0.403743
std    0.558343  1.293090  0.939389  0.810383
min   -0.334422 -2.197997 -1.734380 -1.880042
25%    0.675484 -1.036769 -0.793766 -0.626551
50%    0.778314 -0.197943 -0.377147 -0.111905
75%    0.847181  0.678551 -0.079194  0.137086
max    1.367869  1.224257  1.088695  0.259410

In [32]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.367869   -0.334422    0.780970    0.775657    0.869252    0.642094
B   -2.197997   -1.164065    0.818403    1.224257   -0.654880    0.258994
C   -0.020845   -1.734380   -0.500051   -0.254243   -0.891670    1.088695
D   -0.739462   -0.287819    0.161445    0.259410    0.064009   -1.880042

In [33]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.739462 -0.020845 -2.197997  1.367869
2013-01-02 -0.287819 -1.734380 -1.164065 -0.334422
2013-01-03  0.161445 -0.500051  0.818403  0.780970
2013-01-04  0.259410 -0.254243  1.224257  0.775657
2013-01-05  0.064009 -0.891670 -0.654880  0.869252
2013-01-06 -1.880042  1.088695  0.258994  0.642094

In [34]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-05  0.869252 -0.654880 -0.891670  0.064009
2013-01-06  0.642094  0.258994  1.088695 -1.880042
2013-01-03  0.780970  0.818403 -0.500051  0.161445
2013-01-04  0.775657  1.224257 -0.254243  0.259410

In [35]:
df.A

2013-01-01    1.367869
2013-01-02   -0.334422
2013-01-03    0.780970
2013-01-04    0.775657
2013-01-05    0.869252
2013-01-06    0.642094
Freq: D, Name: A, dtype: float64

In [36]:
df["A"]

2013-01-01    1.367869
2013-01-02   -0.334422
2013-01-03    0.780970
2013-01-04    0.775657
2013-01-05    0.869252
2013-01-06    0.642094
Freq: D, Name: A, dtype: float64

In [37]:
df[0:3]

                   A         B         C         D
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-03  0.780970  0.818403 -0.500051  0.161445

In [38]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-03  0.780970  0.818403 -0.500051  0.161445
2013-01-04  0.775657  1.224257 -0.254243  0.259410

In [39]:
df.loc[dates[0]]

A    1.367869
B   -2.197997
C   -0.020845
D   -0.739462
Name: 2013-01-01 00:00:00, dtype: float64

In [40]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  1.367869 -2.197997
2013-01-02 -0.334422 -1.164065
2013-01-03  0.780970  0.818403
2013-01-04  0.775657  1.224257
2013-01-05  0.869252 -0.654880
2013-01-06  0.642094  0.258994

In [41]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -0.334422 -1.164065
2013-01-03  0.780970  0.818403
2013-01-04  0.775657  1.224257

In [42]:
df.loc["20130102", ["A", "B"]]

A   -0.334422
B   -1.164065
Name: 2013-01-02 00:00:00, dtype: float64

In [43]:
df.loc[dates[0], "A"]

np.float64(1.3678690258034767)

In [44]:
df.at[dates[0], "A"]

np.float64(1.3678690258034767)

In [45]:
df.iloc[3]

A    0.775657
B    1.224257
C   -0.254243
D    0.259410
Name: 2013-01-04 00:00:00, dtype: float64

In [46]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  0.775657  1.224257
2013-01-05  0.869252 -0.654880

In [47]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -0.334422 -1.734380
2013-01-03  0.780970 -0.500051
2013-01-05  0.869252 -0.891670

In [48]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819
2013-01-03  0.780970  0.818403 -0.500051  0.161445

In [49]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -2.197997 -0.020845
2013-01-02 -1.164065 -1.734380
2013-01-03  0.818403 -0.500051
2013-01-04  1.224257 -0.254243
2013-01-05 -0.654880 -0.891670
2013-01-06  0.258994  1.088695

In [50]:
df.iloc[1, 1]

np.float64(-1.1640654087204958)

In [51]:
df.iat[1, 1]

np.float64(-1.1640654087204958)

In [52]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462
2013-01-03  0.780970  0.818403 -0.500051  0.161445
2013-01-04  0.775657  1.224257 -0.254243  0.259410
2013-01-05  0.869252 -0.654880 -0.891670  0.064009
2013-01-06  0.642094  0.258994  1.088695 -1.880042

In [53]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.367869       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03  0.780970  0.818403       NaN  0.161445
2013-01-04  0.775657  1.224257       NaN  0.259410
2013-01-05  0.869252       NaN       NaN  0.064009
2013-01-06  0.642094  0.258994  1.088695       NaN

In [54]:
df2 = df.copy()

In [55]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [56]:
df2

                   A         B         C         D      E
2013-01-01  1.367869 -2.197997 -0.020845 -0.739462    one
2013-01-02 -0.334422 -1.164065 -1.734380 -0.287819    one
2013-01-03  0.780970  0.818403 -0.500051  0.161445    two
2013-01-04  0.775657  1.224257 -0.254243  0.259410  three
2013-01-05  0.869252 -0.654880 -0.891670  0.064009   four
2013-01-06  0.642094  0.258994  1.088695 -1.880042  three

In [57]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03  0.780970  0.818403 -0.500051  0.161445   two
2013-01-05  0.869252 -0.654880 -0.891670  0.064009  four

In [58]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [59]:
df["F"] = s1

In [60]:
df.at[dates[0], "A"] = 0

In [61]:
df.iat[0, 1] = 0

In [62]:
df.loc[:, "D"] = np.array([5] * len(df))

In [63]:
df2 = df.copy()

In [64]:
df2[df2 > 0] = -df2

In [65]:
df2

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -0.020845 -5.0  NaN
2013-01-02 -0.334422 -1.164065 -1.734380 -5.0 -1.0
2013-01-03 -0.780970 -0.818403 -0.500051 -5.0 -2.0
2013-01-04 -0.775657 -1.224257 -0.254243 -5.0 -3.0
2013-01-05 -0.869252 -0.654880 -0.891670 -5.0 -4.0
2013-01-06 -0.642094 -0.258994 -1.088695 -5.0 -5.0